<% provide(:title, 'About') %>
<h1>About the Process Checklist</h1>
<p>This application was made by Adam Huenike and Spencer Beacock of Crossroads Collective. We made it because we wanted one for our web design work, and it was also an opportunity for us to learn more about designing products, as well as developing with the Ruby on Rails framework.</p>
