<% provide(:title, 'Home') %>
<h1>Process Checklist</h1>

<p> This is the temporary home page before it populates with the checklists correctly </p>

<p>Find me in app/views/pages/home.html.erb</p>

<p> Process Checklist </p>